{% extends 'BlogAppBundle::layout.html.twig' %}

{% block content %}
            <div class="fix main_content_area">
                <div class="fix slider_area">
                    <div class="fix slider_top_border"></div>
                    <div class="slider">

                        <!-- Jssor Slider Begin -->
                        <!-- You can move inline styles to css file or css block. -->
                        <div id="slider1_container" style="position: relative; width: 980px;height: 300px;">

                            <!-- Loading Screen -->
                            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                                    background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
                                </div>
                                <div style="position: absolute; display: block; background: url({{ asset('blog-template/images/loading.gif') }}) no-repeat center center;
                                    top: 0px; left: 0px;width: 100%;height:100%;">
                                </div>
                            </div>

                            <!-- Slides Container -->
                            <div id="myslides" u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 980px; height: 300px;overflow: hidden;">
                                <div>
                                    <a href="http://google.com"><img u="image" src="{{ asset('blog-template/images/travel/01.jpg') }}"/></a>
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-01.jpg') }}" />
                                </div>
                                <div>
                                    <a href="http://google.com"><img u="image" src="{{ asset('blog-template/images/travel/02.jpg') }}" /></a>
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-02.jpg') }}" />
                                </div>
                                <div>
                                    <a href="http://google.com"><img u="image" src="{{ asset('blog-template/images/travel/03.jpg') }}" /></a>
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-03.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/04.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-04.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/05.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-05.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/06.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-06.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/07.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-07.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/08.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-08.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/09.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-09.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/10.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-10.jpg') }}" />
                                </div>

                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/11.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-11.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/12.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-12.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/13.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-13.jpg') }}" />
                                </div>
                                <div>
                                    <img u="image" src="{{ asset('blog-template/images/travel/14.jpg') }}" />
                                    <img u="thumb" src="{{ asset('blog-template/images/travel/thumb-14.jpg') }}" />
                                </div>
                            </div>

                            <!-- Thumbnail Navigator Skin Begin -->
                            <div u="thumbnavigator" class="jssort07">
                                <div style="border-radius:5px;background-color: #fff; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>
                                <!-- Thumbnail Item Skin Begin -->

                                <div u="slides" style="cursor: move;">
                                    <div u="prototype" class="p" style="POSITION: absolute; WIDTH: 99px; HEIGHT: 66px; TOP: 0; LEFT: 0;">
                                        <thumbnailtemplate class="i" style="position:absolute;"></thumbnailtemplate>
                                        <div class="o">
                                        </div>
                                    </div>
                                </div>
                                <!-- Thumbnail Item Skin End -->
                                <!-- Arrow Navigator Skin Begin -->
                                <!-- Arrow Left -->
                                <span u="arrowleft" class="jssora11l" style="width: 22px; height: 64px; top: 20px; left: 8px;">
                                </span>
                                <!-- Arrow Right -->
                                <span u="arrowright" class="jssora11r" style="width: 22px; height: 64px; top: 20px; right: 8px">
                                </span>
                                <!-- Arrow Navigator Skin End -->
                            </div>
                            <!-- ThumbnailNavigator Skin End -->
                            <!-- Trigger -->
                        </div>
                        <!-- Jssor Slider End -->
                    </div>
                    <div class="fix slider_bottom_border"></div>
                </div>
                <div class="fix home_main_content">
                    <div class="main_content floatleft">
                        <div class="fix main_content_container">

                            <div class="fix single_content floatleft">
                                <h2><span>Technology<span></h2>
                                <div class="fix single_content_feature">
                                    <a href=""><img src="{{ asset('blog-template/images/feature.png') }}" alt=""/></a>
                                    <h3><a href="">Silicon Valley Shows Signs of Dot-Com Frenzy Silicon Valley Sho,Dot-Com Frenzy Silicon Valley Sho</a></h3>
                                    <span>August 4 2010, <a href="">8 Comments</a></span>
                                    <p>Lorem ipsum ex vix illud naaconummy, novum tation et his. At vix scripta patrioque scribentur...</p>
                                </div>

                                <ul id="post_list">
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4><a href="">Fly Fishers Serving as Transports for Noxious Little Invaders</a></h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4><a href="">Fly Fishers Serving as Transports for Noxious Little Invaders</a></h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4><a href="">Fly Fishers Serving as Transports for Noxious Little Invaders</a></h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <!-- Clean template By wpfreeware.com -->

                            <div class="fix single_content floatleft">
                                <h2><span>Technology<span></h2>
                                <div class="fix single_content_feature">
                                    <a href=""><img src="{{ asset('blog-template/images/feature.png') }}" alt=""/></a>
                                    <h3><a href="">Silicon Valley Shows Signs of Dot-Com Frenzy Silicon Valley Sho,Dot-Com Frenzy Silicon Valley Sho</a></h3>
                                    <span>August 4 2010, <a href="">8 Comments</a></span>
                                    <p>Lorem ipsum ex vix illud naaconummy, novum tation et his. At vix scripta patrioque scribentur...</p>
                                </div>

                                <ul id="post_list">
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4>Fly Fishers Serving as Transports for Noxious Little Invaders</h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4>Fly Fishers Serving as Transports for Noxious Little Invaders</h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4>Fly Fishers Serving as Transports for Noxious Little Invaders</h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <div class="fix single_content floatleft">
                                <h2><span>Technology<span></h2>
                                <div class="fix single_content_feature">
                                    <a href=""><img src="{{ asset('blog-template/images/feature.png') }}" alt=""/></a>
                                    <h3><a href="">Silicon Valley Shows Signs of Dot-Com Frenzy Silicon Valley Sho,Dot-Com Frenzy Silicon Valley Sho</a></h3>
                                    <span>August 4 2010, <a href="">8 Comments</a></span>
                                    <p>Lorem ipsum ex vix illud naaconummy, novum tation et his. At vix scripta patrioque scribentur...</p>
                                </div>

                                <ul id="post_list">
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4>Fly Fishers Serving as Transports for Noxious Little Invaders</h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4>Fly Fishers Serving as Transports for Noxious Little Invaders</h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4>Fly Fishers Serving as Transports for Noxious Little Invaders</h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <div class="fix single_content floatleft">
                                <h2><span>Technology<span></h2>
                                <div class="fix single_content_feature">
                                    <a href=""><img src="{{ asset('blog-template/images/feature.png') }}" alt=""/></a>
                                    <h3><a href="">Silicon Valley Shows Signs of Dot-Com Frenzy Silicon Valley Sho,Dot-Com Frenzy Silicon Valley Sho</a></h3>
                                    <span>August 4 2010, <a href="">8 Comments</a></span>
                                    <p>Lorem ipsum ex vix illud naaconummy, novum tation et his. At vix scripta patrioque scribentur...</p>
                                </div>

                                <ul id="post_list">
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4>Fly Fishers Serving as Transports for Noxious Little Invaders</h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4>Fly Fishers Serving as Transports for Noxious Little Invaders</h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fix single_home_content">
                                            <div class="fix single_home_content_img">
                                                <img src="{{ asset('blog-template/images/small_feature.png') }}" alt=""/>
                                            </div>
                                            <div class="single_home_content_title">
                                                <h4>Fly Fishers Serving as Transports for Noxious Little Invaders</h4>
                                                <p>August 4 2010, <a href="">8 Comments</a></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <div class="fix single_content_latest_post floatleft">
                                <h2><span>Latest Posts</span></h2>
                                <div class="fix single_latest_post">
                                    <div class="fix latest_post_img floatleft">
                                        <img src="{{ asset('blog-template/images/blog_post_img.png') }}" alt=""/>
                                    </div>
                                    <div class="fix latest_post_title floatright">
                                        <h2><a href="">Silicon Valley Shows Signs of Dot-Com Frenzy</a></h2>
                                        <span>August 4 2010, <a href="">8 Comments</a></span>
                                        <p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur novum tation et his ex vix illud nonummy...</p>
                                    </div>
                                </div>
                                <div class="fix single_latest_post">
                                    <div class="fix latest_post_img floatleft">
                                        <img src="{{ asset('blog-template/images/blog_post_img.png') }}" alt=""/>
                                    </div>
                                    <div class="fix latest_post_title floatright">
                                        <h2><a href="">Silicon Valley Shows Signs of Dot-Com Frenzy</a></h2>
                                        <p>August 4 2010, <a href="">8 Comments</a></p>
                                        <p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur novum tation et his ex vix illud nonummy...</p>
                                    </div>
                                </div>
                                <div class="fix single_latest_post">
                                    <div class="fix latest_post_img floatleft">
                                        <img src="{{ asset('blog-template/images/blog_post_img.png') }}" alt=""/>
                                    </div>
                                    <div class="fix latest_post_title floatright">
                                        <h2><a href="">Silicon Valley Shows Signs of Dot-Com Frenzy</a></h2>
                                        <p>August 4 2010, <a href="">8 Comments</a></p>
                                        <p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur novum tation et his ex vix illud nonummy...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar floatright">
                        <div class="fix single_sidebar">
                            <h2><span>Search</span></h2>
                            <input type="text" placeholder="to search, type and hit enter"/>
                        </div>
                        <div class="fix single_sidebar">
                            <h2><span>Advertisements</span></h2>
                            <img src="http://dummyimage.com/300x250/dddddd/787878" alt=""/>
                        </div>
                        <div class="fix single_sidebar">
                            <h2><span>Recent posts</span></h2>
                            <ul>
                                <li><a href="">Use Prose to Put the Focus on Your Words</a></li>
                                <li><a href="">Use Prose to Put the Focus on Your Words</a></li>
                                <li><a href="">Use Prose to Put the Focus on Your Words</a></li>
                                <li><a href="">Use Prose to Put the Focus on Your Words</a></li>
                                <li><a href="">Use Prose to Put the Focus on Your Words</a></li>
                            </ul>
                        </div>
                        <div class="fix single_sidebar">
                            <h2><span>Categoris</span></h2>
                            <ul>
                                <li><a href="">single category</a>(15)</li>
                                <li><a href="">single category</a>(15)</li>
                                <li><a href="">single category</a>(15)</li>
                                <li><a href="">single category</a>(15)</li>
                                <li><a href="">single category</a>(15)</li>
                                <li><a href="">single category</a>(15)</li>
                            </ul>
                        </div>

                        <div class="fix single_sidebar tags">
                            <h2><span>Tags</span></h2>
                            <a href="">tags</a>
                            <a href="">tags cloud</a>
                            <a href="">fashion</a>
                            <a href="">Design</a>
                            <a href="">IOS</a>
                            <a href="">Android</a>
                            <a href="">tags</a>
                            <a href="">tags cloud</a>
                            <a href="">fashion</a>
                            <a href="">Design</a>
                            <a href="">IOS</a>
                            <a href="">Android</a>
                            <a href="">tags</a>
                            <a href="">tags cloud</a>
                            <a href="">fashion</a>
                            <a href="">Design</a>
                            <a href="">IOS</a>
                            <a href="">Android</a>
                        </div>
                    </div>
                </div>
                <div class="fix scroll_to_top">
                    <a href="#scroll_top" class="floatright">Back to Top </a>
                </div>
            </div>
{% endblock %}