{% for post in posts %}
    <div>
        <p>
            <a href="{{ path('blog_post_show', {id: post.id} ) }}">{{ post.title }}</a>
        </p>
        <p>
            {{ post.summary }}
        </p>
        <p>
            {{ post.email }}
        </p>  
        <p>
            <img src="{{ asset("uploads/pictures/#{post.id}.") ~ post.extension }}" style="max-height:250px;">
        </p>
    </div>
    <hr>
{% endfor %}