<p>{{ entity.title }}</p>
<p>{{ entity.summary }}</p>
<p>{{ entity.content|raw }}</p>
<p>{{ entity.user }}</p>
<p>
    <img src="{{ asset("uploads/pictures/#{entity.id}.") ~ entity.extension }}" style="max-height:250px;">
</p>
